:root {
  --shade1: #033491;
  /*gradient-right-color*/
  --shade2: #025dad;
  /*gradient-left-color*/
  --shade3: #cee8ff;
  /*background-color*/
  --shade4: #82aaf3;
  /*input-boder-color*/
}

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2vmin;
}

body {
  background-color: var(--shade3);
}

p,
a {
  text-decoration: none;
  color: var(--shade1);
  /* text-align: center; */

  font-weight: bolder;
  font-size: x-small;
  width: 100%;
}

h1 {
  color: var(--shade1);
}


h2 {
  color: var(--shade1);
  width: var(--width);
  margin: auto;
  padding: 3vh;
}

nav {
  background-image: linear-gradient(to right, var(--shade2) 0%, var(--shade1) 100%);
  padding: 6px;
}

ul {
  display: flex;
  justify-content: left;
  /* justify-content: start; */
  gap: 25px;
  margin-left: 20px;
}

ul a {
  list-style-type: none;
  color: white;
  text-align: start;
  width: max-content;
}

.container,
.home {
  width: var(--SignWidth);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  margin: 25vh auto;
}

.ForgotSignUP {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
}

.SignInSignUpBTN {
  width: 100%;
  display: flex;
  justify-content: space-between;
}



.password-generator {
  width: var(--width);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  margin: 10vh auto;
}

input {
  width: 100%;
  box-sizing: border-box;
  height: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid var(--shade4);
  border-radius: 1rem;
  background-color: white;
}

.site {
  width: 100%;
}

.userPass {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1vw;
}

.password {
  position: relative;
  width: 100%;
}

.showpassword img {
  width: 1.1rem;
  height: 1.1rem;
  cursor: pointer;
}

.showpassword {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}


button {
  width: 100%;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background-image: linear-gradient(to right, var(--shade2) 0%, var(--shade1) 100%);
  color: white;
  font-weight: bolder;
  cursor: pointer;
}


table {
  height: 100px;
  width: var(--width);
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 195, 255, 0.19);
}

thead {
  color: white;
  background-image: linear-gradient(to right, var(--shade2) 0%, var(--shade1) 100%);

}

tbody {
  background-color: var(--shade3);
  color: var(--shade1);
  font-size: small;
  font-weight: bold;

}

td {
  text-align: center;
  overflow-x: hidden;
  padding: 2vmin 0;
}

th {
  padding: 1vh;
}


td img {
  width: 2vmin;
  height: 2vmin;
  cursor: pointer;
}

.actions {
  display: flex;
  justify-content: space-evenly;
}

.edit,
.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vh;
  cursor: pointer;
}

.edit img,
.delete img {
  width: 3vmin;
  height: 3vmin;
  cursor: pointer;
}



/* media quairies */

@media only screen and (max-width: 600px) {
  :root {
    --width: 90vw;
    --SignWidth: 70vw;
  }

  .userPass {
    flex-direction: column;
    gap: 3vh;
  }

  .edit p,
  .delete p {
    display: none;
  }
}

@media only screen and (min-width: 600px) {

  :root {
    --width: 80vw;
    --SignWidth: 40vw;
  }
}

@media only screen and (min-width: 786px) {

  :root {
    --width: 60vw;
    --SignWidth: 25vw;
  }
}