*{
  padding: 0;
  margin: 0;
}

body{
  
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

h2{
  color: #011c4e;
}

nav {
  background-image: linear-gradient(to right, #025dad 0%, #033491 100%);
  padding: 6px;
}

ul{

  display: flex;
  gap: 25px;
  margin-left: 20px;
}

li{
  list-style-type: none;
  color: white;
}

.password-generator{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3vh;
  margin-top: 20vh;
}

.password-generator input{
  width: 50%;
  height: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: none;
  border-radius: 1rem;
  background-color: white;
}

.password-generator button{
  width: 50%;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  background-image: linear-gradient(to right, #025dad 0%, #033491 100%);
  color: white;
  font-weight: bolder;
}

table{
  height: 100px;
  width: 80%;
  margin: auto;
  border-collapse: collapse;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

thead{
  color: white;
  background-image: linear-gradient(to right, #025dad 0%, #033491 100%);

}

tbody{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  
}

td{
  text-align: center;
}
